html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	border: none;
	overflow: hidden;

	color: black;
	font-family: Arial, sans;
	font-size: 10pt;
}
input, label {
	vertical-align: middle;
}

.disabled {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%); 
}
.hidden {
	display: none;
}

#toolbar {
	background-color: lightgray;
	cursor: default;

	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 1px;
}
#toolbar > div {
	height: 23px;
}

#toolbar button, #toolbar > div > div {
	display: inline-block;
	vertical-align: middle;
}
#toolbar button {
	background-color: transparent;
	box-sizing: content-box;
	font-family: Arial, sans;
	font-size: 10pt;
	color: black;
	text-align: left;
	
	height: 16px;
	margin: 1px 1px 0px 1px;
	padding: 2px 2px 2px 19px;
	
	background-repeat: no-repeat;
	background-position: 2px 2px, -webkit-calc(100% - 5px) 8px;
	background-position: 2px 2px, calc(100% - 5px) 8px;
	
	border-color: transparent;
	border-width: 1px;
	border-style: solid;
}
#toolbar button:hover:not(.disabled), #toolbar button.selected {
	border-color: gray;
}
#toolbar button:active:not(.disabled), #toolbar button.selected {
	padding: 3px 1px 1px 20px;
	background-position: 3px 3px, -webkit-calc(100% - 4px) 9px;
	background-position: 3px 3px, calc(100% - 4px) 9px;
	background-color: #AAAAAA;
}
#toolbar button.disabled {
	color: gray;
}
#toolbar button.dropdown {
	background-size: 16px 16px, auto;
	background-repeat: no-repeat;

	padding: 2px 16px 2px 19px;
}
#toolbar button.dropdown:active:not(.disabled) {
	padding: 3px 15px 1px 20px;
}

#toolbar > div > div {
	width: 1px;
	height: 16px;
	margin: 3px 0px 3px 0px;
	background-color: black;
}

#openfile {
	background-image: url("images/folder.png");
}
#pause {
	background-image: url("images/control_pause.png");
}
#resume {
	background-image: url("images/control_play.png");
}
#reset {
	background-image: url("images/control_start.png");
}
#loadstate {
	background-image: url("images/picture_go.png");
}
#selectstate {
	background-image: url("images/picture_empty.png"), url("images/dropdown.png");
}
#selectstate.slotused {
	background-image: url("images/picture.png"), url("images/dropdown.png");
}
#savestate {
	background-image: url("images/picture_save.png");
}
#fullscreen {
	background-image: url("images/monitor.png");
}
#tools {
	background-image: url("images/wrench.png"), url("images/dropdown.png");
}
#about {
	background-image: url("images/information.png");
}

#selectstate_dropdown > button {
	background-image: url("images/picture_empty.png");
}
.slotused {
	background-image: url("images/picture.png");
}

#options {
	background-image: url("images/cog.png");
}
#managestates {
	background-image: url("images/folder_picture.png");
}
#toolbar label {
	text-align: left;
	
	height: 16px;
	margin: 1px 0px 0px 1px;
	padding: 2px 0px 2px 19px;
	
	background-repeat: no-repeat;
	background-position: 2px 2px, -webkit-calc(100% - 5px) 8px;
	background-position: 2px 2px, calc(100% - 5px) 8px;
	
	border-color: transparent;
	border-width: 1px 0px 1px 1px;
	border-style: solid;
}
#toolbar input {
	margin: 0px;
}
#toolbar input[type="range"] {
	height: 22px;
	width: 100px;
}
#toolbar input[type="number"] {
	height: 16px;
	width: 60px;
}

label[for="volume"] {
	background-image: url("images/sound.png");
}
label[for="speed"] {
	background-image: url("images/lightning.png");
}

canvas {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}
.fullscreen {
	border-top-width: 0px;
}